.main_login_div {
    width: 375px;
    height: 812px;
    border: 1px solid lightgray;
    margin: auto;
    opacity: 100%;
    background: #F7F8F9 0% 0% no-repeat padding-box;
}

.main_login_div>h1 {
    width: 230px;
    height: 69px;
    margin: 40px 0 0 20px;
    font-size: 28px;
    line-height: 36px;
    text-align: left;
    color: #1D2226;
    opacity: 1;
}

.main_login_div>p {
    width: 232px;
    height: 48px;
    text-align: left;
    color: #1D2226;
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 26px;
    font-size: 18px;
}
.main_login_div > Button{
    width: 335px;
    height: 46px;
    margin-top: 15px;
    font-weight: bold;
}
.main_login_div > Button > span{
    color: white;
}